html {
  height: 100%;
  width: 100%;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.box {
  height: 400px; 
  width: 600px; 
  border: solid 3px black;
  padding: 8px;
}

.buttonhover:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 03s;
  background-color: 280137; 
}


